<div class="card">
    <div class="card-header">
        Editar cliente
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Email</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td>1</td>
                        <td>Isaias</td>
                        <td>Reniero</td>
                        <td>isa@gmail.com</td>
                        <td>
                            <a routerLink="/client-modify-data/1">Editar</a> | Eliminar
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>