<br>
<a href="tax-add">Registrar nuevos impuestos</a>

<div class="card">
    <div class="card-header">
        Impuestos
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Porcentage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tax of Taxes; let iControl=index">
                        <td>{{ tax.Id }}</td>
                        <td>{{ tax.Name }}</td>
                        <td>{{ tax.Percentage}}</td>
                        <td> 
                            <a class="btn btn-info" href="/tax-edity/{{ tax.Id }}">Editar</a> | 
                            <a class="btn btn-danger" (click)="deleteRegister(tax.Id,iControl)" role="button">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>