<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-light border-4 border-bottom border-primary">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Finnegans</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="MenuNav" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-3">
                    <li class="nav-item"><a class="nav-link" href="/order-list">Pedidos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/product-list">Productos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/service-list">Servicios</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Clientes</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/person-list">Personas</a></li>
                            <li><a class="dropdown-item" href="/business-list">Empresas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tax-list">Impuestos</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user-list">Usuarios</a> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<br>
<div class="container-xxl">
    <div class="card">
        <h2 class="card-header">Registrar pedido</h2>
        <div class="card-body">
            <form ngNativeValidate [formGroup]="formGroup" (ngSubmit)="sendData()">

                <p>La fecha de creación del pedido se registrará automáticamente una vez que se cree el pedido.</p>
                <p>El monto total del pedido se registrará automáticamente una vez que se cree el pedido.</p>

                <div>
                    <a type="button" href="/order-details-add" class="btn btn-success">Seleccionar producto/servicios para el pedido</a>
                </div>

                <br>
                <div class="mb-3">
                    <label for="inputClient" class="form-label">Cliente</label>
                    <select class="form-select" aria-label="Default select example" formControlName="Client">
                        <option [ngValue]="client" *ngFor="let client of listClients">{{client.lastname}}, {{client.firstname}}</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Detalles para el pedido</label>
                    <ul *ngFor="let order of listOrdersDetails">
                        <li>${{order.amount}} - {{order.description}}</li>
                        <!-- <a class="btn btn-info">Editar</a> |  -->
                        <a class="btn btn-danger" (click)="deleteRegister(order.id)" role="button">Borrar</a>
                    </ul>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Descripción</label>
                    <input type="text"
                    class="form-control" name="" formControlName="Description" id="" aria-describedby="helpId" placeholder="Descripción del pedido">
                </div>

                <div class="mb-3">
                    <label for="inputUser" class="form-label">Usuario</label>
                    <select class="form-select" aria-label="Default select example" formControlName="User">
                        <option [ngValue]="user" *ngFor="let user of listUsers">{{user.email}}</option>
                    </select>
                </div>
                
                <div class="btn-group" role="group" aria-label="">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                    <a type="button" href="/order-list" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>