<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-light border-4 border-bottom border-primary">
        <div class="container-fluid">
            <a href="home" class="navbar-brand">Finnegans</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="MenuNav" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-3">
                    <li class="nav-item"><a class="nav-link" routerLink="order-list">Pedidos</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="product-list">Productos</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="service-list">Servicios</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Clientes</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="person-list">Personas</a></li>
                            <li><a class="dropdown-item" routerLink="business-list">Empresas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="tax-list">Impuestos</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="user-list">Usuarios</a> 
                    </li>
                </ul>
                <ul class="navbar-nav ms-3">
                    <li class="nav-item">
                        <a class="nav-link text-nowrap" routerLink="login">Cerrar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="container">
    <router-outlet>
        
    </router-outlet>
</div>

<!-- <app-login></app-login> -->
