<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" aria-current="page">Finnegans <span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link" routerLink="order-home">Pedidos</a>
        <a class="nav-item nav-link" routerLink="client-home">Clientes</a>
        <a class="nav-item nav-link" routerLink="business-home">Empresas</a>
        <a class="nav-item nav-link" routerLink="product-home">Productos</a>
        <a class="nav-item nav-link" routerLink="service-home">Servicios</a>
        <a class="nav-item nav-link" routerLink="tax-home">Impuestos</a>
        <a class="nav-item nav-link" routerLink="user-home">Usuarios</a>
    </div>
</nav>
<div class="container">
    Contenido
    <router-outlet>
        
    </router-outlet>
</div>