<br>
<div class="container-fluid" id="">
    <h1>Actualizar datos del usuario</h1>
    <form class="form-control" name="" id="">
            <div class="form-group">
                <label for="inputFirstname">Nombre</label>
                <input type="text" class="form-control" id="inputFirstname" placeholder="Ingresar nombre">
            </div>
            <div class="form-group">
                <label for="inputLastname">Apellido</label>
                <input type="text" class="form-control" id="inputLastname" placeholder="Ingresar apellido">
            </div>
            <div class="form-group">
                <label for="inputDNI">D.N.I.</label>
                <input type="number" class="form-control" id="inputDNI" placeholder="Ingresar D.N.I.">
            </div>
            <div class="form-group">
                <label for="inputPhoneNumber">Número de celular</label>
                <input type="number" class="form-control" id="inputPhoneNumber" placeholder="Ingresar número de celular">
            </div>
            <div class="form-group">
                <label for="inputRole">Rol</label>
                <select id="inputRole" class="form-select" aria-label="Default select example">
                    <option selected>Seleccionar</option>
                    <option value="ADMIN">Administrador</option>
                    <option value="SUPER_ADMIN">Super administrador</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputEmail">Correo electrónico</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Ingresar correo electrónico">
            </div>
            <div class="form-group">
                <label for="inputPassword">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Ingresar contraseña">
            </div>
        <br>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>