<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-light border-4 border-bottom border-primary">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Finnegans</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="MenuNav" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-3">
                    <li class="nav-item"><a class="nav-link" href="/order-list">Pedidos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/product-list">Productos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/service-list">Servicios</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Clientes</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/person-list">Personas</a></li>
                            <li><a class="dropdown-item" href="/business-list">Empresas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tax-list">Impuestos</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user-list">Usuarios</a> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container-xxl">
    <br>
    <br>
    <div class="card">
        <h2 class="card-header">Pedido</h2>
        <div class="card-body">
            <div class="table-responsive">
                <ul>
                    <li>Id: {{ orderDetails.Id }}</li>
                    <li>Fecha de creación: {{ orderDetails.DateCreated }}</li>
                    <li>Monto total: {{ orderDetails.Amount }}</li>
                    <li>Descripción: {{ orderDetails.Description }}</li>
                    <li>Estado: {{ orderDetails.Status }}</li>
                    <li> Cliente
                        <ul>
                            <li>ID: {{ orderDetails.Client.Id }}</li>
                            <li>Nombre: {{ orderDetails.Client.FirstName }}</li>
                            <li>Apellido: {{ orderDetails.Client.LastName }}</li>
                            <li>DNI: {{ orderDetails.Client.DNI }}</li>
                            <li>Servicio activo: {{ orderDetails.Client.ActiveService }}</li>
                        </ul>
                    </li>
                    <li>Productos
                        <ul *ngFor="let orderProduct of orderDetails.Products">
                            <li>ID: {{ orderProduct.Id }}</li>
                            <li>Nombre: {{ orderProduct.Name }}</li>
                            <li>Precio: {{ orderProduct.BaseAmount }}</li>
                        </ul>
                    </li>
                    <li>Servicios
                        <ul *ngFor="let orderService of orderDetails.Services">
                            <li>ID: {{ orderService.Id }}</li>
                            <li>Nombre: {{ orderService.Name }}</li>
                            <li>Precio: {{ orderService.BaseAmount }}</li>
                            <li>Tipo de servicio: {{ orderService.TypeService }}</li>
                        </ul>
                    </li>
                    <li>Usuario del pedido
                        <ul>
                            <li>ID: {{ orderDetails.User.Id }}</li>
                            <li>Nombre: {{ orderDetails.User.FirstName }}</li>
                            <li>Apellido: {{ orderDetails.User.LastName }}</li>
                            <li>DNI: {{ orderDetails.User.DNI }}</li>
                            <li>Correo eléctronico: {{ orderDetails.User.Email }}</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <a type="button" href="/order-list" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>