<a href="service-add">Registrar servicio</a>

<div class="card">
    <div class="card-header">
        Servicios
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Internet</td>
                        <td>650</td>
                        <td><a href="/service-edity">Editar</a> | Borrar</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
