<br>
<a href="service-add">Registrar servicio</a>

<div class="card">
    <div class="card-header">
        Servicios
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of Services; let iControl=index">
                        <td>{{ service.id }}</td>
                        <td>{{ service.name }}</td>
                        <td>{{ service.baseAmount}}</td>
                        <td> 
                            <a class="btn btn-info" href="/service-edity/{{ service.id }}">Editar</a> | 
                            <a class="btn btn-danger" role="button">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
