<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-light border-4 border-bottom border-primary">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Finnegans</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="MenuNav" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-3">
                    <li class="nav-item"><a class="nav-link" href="/order-list">Pedidos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/product-list">Productos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/service-list">Servicios</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Clientes</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/person-list">Personas</a></li>
                            <li><a class="dropdown-item" href="/business-list">Empresas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tax-list">Impuestos</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user-list">Usuarios</a> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container-xxl">
    <br>
    <br>
    <div class="card">
        <h2 class="card-header">Detalle del pedido</h2>
        <div class="card-body">
            <div class="table-responsive">
                <ul>
                    <li>ID: {{ order.id }}</li>
                    <li>Fecha de registración: {{ order.dateCreated }}</li>
                    <li>Monto total: {{ order.totalAmount }}</li>
                    <li>Descripción: {{ order.description }}</li>
                    <li>Estado: {{ order.status }}</li>
                    <li>Cliente
                        <ul>
                            <li>ID: {{ order.client.id }}</li>
                            <li>DNI: {{ order.client.dni }}</li>
                            <li>Nombre: {{ order.client.firstname }}</li>
                            <li>Apellido: {{ order.client.lastname }}</li>
                        </ul>
                    </li>
                    <li>Pedidos
                        <ul *ngFor="let orderD of order.orderDetails">
                            <li>ID: {{ orderD.id }}</li>
                            <li>Monto: {{ orderD.amount}}</li>
                            <li>Descripción: {{ orderD.description }}</li>
                            <li>Impuestos
                                <ul *ngFor="let orderTaxes of orderD.taxes">
                                    <li>Nombre: {{ orderTaxes.name }}</li>
                                    <li>Porcentage: {{ orderTaxes.percentage }}</li>
                                </ul>
                            </li>
                            <br>
                        </ul>
                    </li>
                </ul>
            </div>

            <a type="button" href="/order-list" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>