
<a href="user-register">Registrar usuario</a>


<div class="card">
    <div class="card-header">
        Usuarios
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>D.N.I.</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo electrónico</th>
                        <th>Número de teléfono</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>45662772</td>
                        <td>Ruben</td>
                        <td>Almada</td>
                        <td>isa@gmail.com</td>
                        <td>33457654</td>
                        <td>Admin</td>
                        <td> <a href="/user-modify-data">Editar</a> | Borrar</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>