
<a href="user-register">Registrar usuario</a>


<div class="card">
    <div class="card-header">
        Usuarios
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>D.N.I.</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo electrónico</th>
                        <th>Número de teléfono</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of User; let iControl=index">
                        <td>{{ user.Id }}</td>
                        <td>{{ user.DNI }}</td>
                        <td>{{ user.FirstName }}</td>
                        <td>{{ user.LastName }}</td>
                        <td>{{ user.Email }}</td>
                        <td>{{ user.PhoneNumber }}</td>
                        <td>{{ user.Role }}</td>
                        <td> 
                            <a class="btn btn-info" href="/user-modify-data/{{ user.id }}">Editar</a> | 
                            <a class="btn btn-danger" (click)="deleteRegister(user.id,iControl)" role="button">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>