<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-light border-4 border-bottom border-primary">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Finnegans</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="MenuNav" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-3">
                    <li class="nav-item"><a class="nav-link" href="/order-list">Pedidos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/product-list">Productos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/service-list">Servicios</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Clientes</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/person-list">Personas</a></li>
                            <li><a class="dropdown-item" href="/business-list">Empresas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tax-list">Impuestos</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/user-list']" routerLinkActive="router-link-active" >Usuarios</a> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<br>
<div class="container-xxl">
    <a class="btn btn-primary" href="business-add">Registrar empresa</a>
    <br>
    <br>
    <div class="card">
        <h2 class="card-header">Empresas</h2>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Razón social</th>
                            <th>Fecha inicio de las actividades</th>
                            <th>C.U.I.T.</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let business of Businesses; let iControl=index">
                            <td>{{ business.Id }}</td>
                            <td>{{ business.BusinessName }}</td>
                            <td>{{ business.ActStartDate }}</td>
                            <td>{{ business.CUIT }}</td>
                            <td> 
                                <a class="btn btn-info" href="/business-edity/{{ business.Id }}">Editar</a> | 
                                <a class="btn btn-danger" (click)="deleteRegister(business.Id,iControl)" role="button">Borrar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>