* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background: white;
    background-attachment: fixed;
    font-family: Dejavu Sans, Arial, Verdana, sans-serif;
}

.table-product {
    background: red;
    margin: 150px auto;
    width: 600px;
}

table {
    width: 100%;
    background-color: white;
}

h3 {
    text-align: center;
}

.thead-dark {
    background: black;
    color: white;
}

.tbody {
    background: transparent;
    color: black;
}