
<a href="business-add">Registrar empresa</a>


<div class="card">
    <div class="card-header">
        Empresas
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Razón social</th>
                        <th>Fecha inicio de las actividades</th>
                        <th>C.U.I.T.</th>
                        <th>Persona asociada</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Amazon</td>
                        <td>12/04/34</td>
                        <td>435357743444</td>
                        <td>Isa</td>
                        <td> <a href="/business-edity">Editar</a> | Borrar</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>