<br>
<a href="person-add">Registrar cliente</a>

<div class="card">
    <div class="card-header">
        Personas
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>D.N.I.</th>
                        <th>Correo electrónico</th>
                        <th>Servicio activo</th>
                        <th>Empresas relacionadas</th>
                        <th>Pedidos relacionados</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of Persons; let iControl=index">
                        <td>{{ person.Id }}</td>
                        <td>{{ person.Firstname }}</td>
                        <td>{{ person.Lastname}}</td>
                        <td>{{ person.DNI }}</td>
                        <td>{{ person.Email }}</td>
                        <td>{{ person.ActiveService }}</td>
                        <td>{{ person.BusinessSet }}</td>
                        <td>{{ person.Orders }}</td>
                        <td> 
                            <a class="btn btn-info" href="/person-edity/{{ person.Id }}">Editar</a> | 
                            <a class="btn btn-danger" role="button">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
