<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-light border-4 border-bottom border-primary">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Finnegans</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="MenuNav" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-3">
                    <li class="nav-item"><a class="nav-link" href="/order-list">Pedidos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/product-list">Productos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/service-list">Servicios</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Clientes</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/person-list">Personas</a></li>
                            <li><a class="dropdown-item" href="/business-list">Empresas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tax-list">Impuestos</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user-list">Usuarios</a> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container-xxl">
    <div class="card">
        <div class="card-header">
            Actualizar datos del pedido
        </div>
        <div class="card-body">
            <form class="formGroup" >
                <div class="mb-3">
                    <label for="" class="form-label">Fecha</label>
                    <input type="date"
                    class="form-control" name="" formControlName="dateCreated" id="" aria-describedby="helpId" placeholder="Ingresar fecha del pedido">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Monto total</label>
                    <input type="number"
                    class="form-control" name="" formControlName="amount" id="" aria-describedby="helpId" placeholder="Ingresar monto">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Descripción</label>
                    <input type="text"
                    class="form-control" name="" formControlName="description" id="" aria-describedby="helpId" placeholder="Descripción del pedido">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Asociar producto</label>
                    <input type="number"
                    class="form-control" name="" formControlName="products" id="" aria-describedby="helpId" placeholder="Ingresar ID del producto">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Asociar servicio</label>
                    <input type="number"
                    class="form-control" name="" formControlName="services" id="" aria-describedby="helpId" placeholder="Ingresar ID del servicio">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Asociar cliente</label>
                    <input type="number"
                    class="form-control" name="" formControlName="client" id="" aria-describedby="helpId" placeholder="Ingresar D.N.I. del cliente">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Asociar usuario</label>
                    <input type="number"
                    class="form-control" name="" formControlName="user" id="" aria-describedby="helpId" placeholder="Ingresar ID del usuario">
                </div>
                

                
                <div class="btn-group" role="group" aria-label="">
                    <button type="submit" class="btn btn-success">Actualizar</button>
                    <button type="button" class="btn btn-primary">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>