<div class="card">
    <div class="card-header">
        Registrar cliente
    </div>
    <div class="card-body">
        <form [formGroup]="formGroup" (ngSubmit)="sendData()">

            <div class="mb-3">
                <label for="" class="form-label">Nombre</label>
                <input type="text"
                class="form-control" name="" formControlName="firstname" id="" aria-describedby="helpId" placeholder="Ingresar nombre">
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Apellido</label>
                <input type="text"
                class="form-control" name="" formControlName="lastname" id="" aria-describedby="helpId" placeholder="Ingresar apellido">
            </div>

            <div class="mb-3">
                <label for="" class="form-label">D.N.I.</label>
                <input type="number"
                class="form-control" name="" formControlName="dni" id="" aria-describedby="helpId" placeholder="Ingresar D.N.I.">
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Correo electrónico</label>
                <input type="email"
                class="form-control" name="" formControlName="email" id="" aria-describedby="helpId" placeholder="Ingresar correo electrónico">
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Número de teléfono</label>
                <input type="text"
                class="form-control" name="" formControlName="phoneNumber" id="" aria-describedby="helpId" placeholder="Ingresar número de teléfono">
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Dirección</label>
                <input type="text"
                class="form-control" name="" formControlName="direction" id="" aria-describedby="helpId" placeholder="Ingresar dirección">
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Asociar con empresa</label>
                <input type="text"
                class="form-control" name="" formControlName="cuit" id="" aria-describedby="helpId" placeholder="Ingresar C.U.I.T.">
            </div>

            <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-primary">Registrar</button>
                <button type="button" class="btn btn-danger">Cancelar</button>
            </div>
        </form>
    </div>
</div>