<div class="card">
    <div class="card-header">
        Registrar empresa
    </div>
    <div class="card-body">
        <form [formGroup]="formGroup" (ngSubmit)="sendData()">
            <div class="mb-3">
                <label for="" class="form-label">Razón social</label>
                <input type="text"
                class="form-control" name="" formControlName="businessName" id="" aria-describedby="helpId" placeholder="Ingresar razón social">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Fecha de inicio de las actividades</label>
                <input type="date"
                class="form-control" name="" formControlName="startDateAct" id="" aria-describedby="helpId" placeholder="Ingresar fecha">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">C.U.I.T.</label>
                <input type="number"
                class="form-control" name="" formControlName="cuit" id="" aria-describedby="helpId" placeholder="Ingresar C.U.I.T.">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Asociar con cliente</label>
                <input type="number"
                class="form-control" name="" formControlName="dni" id="" aria-describedby="helpId" placeholder="Ingresar D.N.I.">
            </div>
            <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-primary">Registrar</button>
                <button type="button" class="btn btn-danger">Cancelar</button>
            </div>
        </form>
    </div>
</div>