<br>
<a href="product-add">Registrar producto</a>

<div class="card">
    <div class="card-header">
        Productos
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of Products; let iControl=index">
                        <td>{{ product.Id }}</td>
                        <td>{{ product.Name }}</td>
                        <td>${{ product.BaseAmount }}</td>
                        <td> 
                            <a class="btn btn-info" href="/product-edity/{{ product.Id }}">Editar</a> | 
                            <a class="btn btn-danger" (click)="deleteRegister(product.Id,iControl)" role="button">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
