<!-- <br>
<div class="container-fluid" id="">
    <h1>Registración</h1>
    <form class="form-control" name="" id="">
            <div class="form-group">
                <label for="inputFirstname">Nombre</label>
                <input type="text" class="form-control" id="inputFirstname" placeholder="Ingresar nombre">
            </div>
            <div class="form-group">
                <label for="inputLastname">Apellido</label>
                <input type="text" class="form-control" id="inputLastname" placeholder="Ingresar apellido">
            </div>
            <div class="form-group">
                <label for="inputDNI">D.N.I.</label>
                <input type="number" class="form-control" id="inputDNI" placeholder="Ingresar D.N.I.">
            </div>
            <div class="form-group">
                <label for="inputPhoneNumber">Número de celular</label>
                <input type="number" class="form-control" id="inputPhoneNumber" placeholder="Ingresar número de celular">
            </div>
            <div class="form-group">
                <label for="inputRole">Rol</label>
                <select id="inputRole" class="form-select" aria-label="Default select example">
                    <option selected>Seleccionar</option>
                    <option value="ADMIN">Administrador</option>
                    <option value="SUPER_ADMIN">Super administrador</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputEmail">Correo electrónico</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Ingresar correo electrónico">
            </div>
            <div class="form-group">
                <label for="inputPassword">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Ingresar contraseña">
            </div>
        <br>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div> -->



<!-- 
<h2 class="text-center">Registración</h2>

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            <form class="form-control" (ngSubmit)="postdata">
                <div class="form-group">
                    <label for="firstName">Nombre</label>
                    <input type="text" name="firstName" formControlName="firstName" class="form-control input-sm" placeholder="Ingresar nombre">
                </div>
                <div class="form-group">
                    <label for="lastName">Apellido</label>
                    <input type="text" name="lastName" formControlName="lastName" class="form-control input-sm" placeholder="Ingresar apellido">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" formControlName="email" class="form-control input-sm" placeholder="Ingresar correo eléctronico">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Número de teléfono</label>
                    <input type="phoneNumber" name="phoneNumber" formControlName="phoneNumber" class="form-control input-sm" placeholder="Ingresar número de teléfono">
                </div>
                <div class="form-group">
                    <label for="role">Rol</label>
                    <select type="phoneNumber" name="phoneNumber" id="role" class="form-select" aria-label="Default select example">
                        <option selected>Seleccionar</option>
                        <option value="ADMIN">Administrador</option>
                        <option value="SUPER_ADMIN">Super administrador</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Password">Contraseña</label>
                    <input type="password" name="Password" formControlName="password" class="form-control input-sm" placeholder="Ingresar contraseña">
                </div>
                <button type="submit" class="btn btn-success">Registrar</button>
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div> -->