<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-light border-4 border-bottom border-primary">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Finnegans</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="MenuNav" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-3">
                    <li class="nav-item"><a class="nav-link" href="/order-list">Pedidos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/product-list">Productos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/service-list">Servicios</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Clientes</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/person-list">Personas</a></li>
                            <li><a class="dropdown-item" href="/business-list">Empresas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tax-list">Impuestos</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user-list">Usuarios</a> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<br>
<div class="container-xxl" id="">
    <h1>Registración</h1>
    <form class="form-control" [formGroup]="registerForm" (ngSubmit)="sendData()">
            <div class="mb-3">
                <label for="inputFirstname" class="form-label">Nombre</label>
                <input type="text" 
                class="form-control" 
                formControlName="FirstName" 
                id="inputFirstname" 
                placeholder="Ingresar nombre">
            </div>
            
            <div class="mb-3">
                <label for="inputLastname" class="form-label">Apellido</label>
                <input type="text" class="form-control" 
                formControlName="LastName" id="inputLastname" placeholder="Ingresar apellido">
            </div>
            
            <div class="mb-3">
                <label for="inputDNI" class="form-label">D.N.I.</label>
                <input type="number" class="form-control" 
                formControlName="DNI" id="inputDNI" placeholder="Ingresar D.N.I.">
            </div>
            
            <div class="mb-3">
                <label for="inputPhoneNumber" class="form-label">Número de celular</label>
                <input type="number" class="form-control" 
                formControlName="PhoneNumber" id="inputPhoneNumber" placeholder="Ingresar número de celular">
            </div>
            
            <div class="mb-3">
                <label for="inputRole" class="form-label">Rol</label>
                <select id="inputRole" class="form-select" aria-label="Default select example">
                    <option selected>Seleccionar</option>
                    <option value="USER" formControlName="Role">Usuario</option>
                    <option value="ADMINISTRATOR" formControlName="Role">Administrador</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="inputEmail" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" 
                formControlName="Email" id="inputEmail" placeholder="Ingresar correo electrónico">
            </div>
            
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Contraseña</label>
                <input type="password" class="form-control" 
                formControlName="Password" id="inputPassword" placeholder="Ingresar contraseña">
            </div>

        <br>
        <div class="btn-group" role="group" aria-label="">
            <button type="submit" class="btn btn-primary">Registrar</button>
            <button type="button" class="btn btn-danger">Cancelar</button>
        </div>
        
    </form>
</div>



<!-- 
<h2 class="text-center">Registración</h2>

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            <form class="form-control" (ngSubmit)="postdata">
                <div class="form-group">
                    <label for="firstName">Nombre</label>
                    <input type="text" name="firstName" formControlName="firstName" class="form-control input-sm" placeholder="Ingresar nombre">
                </div>
                <div class="form-group">
                    <label for="lastName">Apellido</label>
                    <input type="text" name="lastName" formControlName="lastName" class="form-control input-sm" placeholder="Ingresar apellido">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" formControlName="email" class="form-control input-sm" placeholder="Ingresar correo eléctronico">
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Número de teléfono</label>
                    <input type="phoneNumber" name="phoneNumber" formControlName="phoneNumber" class="form-control input-sm" placeholder="Ingresar número de teléfono">
                </div>
                <div class="form-group">
                    <label for="role">Rol</label>
                    <select type="phoneNumber" name="phoneNumber" id="role" class="form-select" aria-label="Default select example">
                        <option selected>Seleccionar</option>
                        <option value="ADMIN">Administrador</option>
                        <option value="SUPER_ADMIN">Super administrador</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Password">Contraseña</label>
                    <input type="password" name="Password" formControlName="password" class="form-control input-sm" placeholder="Ingresar contraseña">
                </div>
                <button type="submit" class="btn btn-success">Registrar</button>
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div> -->